{% extends 'base.html' %}
{% block body %}
<div style="font-size: 28px;line-height: 32px;" class="mb-4">{{ people.username }}
{% if request.user == people %}<a class="btn btn-outline-secondary ml-2 py-1 px-2" href="{% url 'accounts:update' %}">프로필수정</a>
{% else %}
{% if people in request.user.followers.all %}
<a class="btn btn-outline-secondary ml-2 py-1 px-2" href="{% url 'accounts:follow' people.id %}">팔로잉</a>
{% else %}
<a class="btn btn-primary ml-2 py-1 px-2" href="{% url 'accounts:follow' people.id %}">팔로우</a>
{% endif %}
{% endif %}
</div>
<div class='mb-3'>게시물 <strong class="mr-2">{{ people.post_set.count }}</strong> 팔로워 <strong class="mr-2">{{ people.followings.count }}</strong> 팔로우 <strong class="mr-2">{{ people.followers.count }}</strong></div>
<div class="mb-2"><strong>{{ people.last_name }}{{ people.first_name }}</strong></div>
{% if people.profile %}
<div class='mb-2'>
  {{ people.profile.description|linebreaks }}
</div>
{% endif %}
<div class="row">
  {% for post in people.post_set.all %}
    {% if post.image %}
    <div class="col-4">
      <img src="{{ post.image.url }}" class="img-fluid"></img>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}